<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"> 

  <h1>
   Я  - молодец!!!
   В чистом виде обсервебелес  наверное евент еммитер сабскрибе

  </h1>
 
</div>

<app-simple-http></app-simple-http>
<div> <!--   картинка для интереса  :  на событие liked() испускаются 2 функции  .
  а в констукторе  всего то одна запись 
  
'    this.onProductSelected = new EventEmitter();'  
      this.onProductSelected.subscribe(
       (value: any) => {
       console.log('i changed to:', value);
       });
    
  

интерсно то что   что под   subsribe zapisano v construktore
a emit  2 x  functions proisxodit v onclick Event
 что радует , что    subscribe proisxodit posle каждого
 т.е 
   onclick ()=liked()
   liked= +calk() + subscribe + calk2 + subscribe
  -->
</div>
<ul>
 
  <li>
  <button (click)="liked()" >Like it? {{this.i}} </button>
  </li>
 
</ul>

