<p>
  radio-button-list-question works!
  {{question.description}}
{{question.optionSelected}}
</p>

<div>
    
       
    
    <mat-radio-group aria-label="Select an option" [(ngModel)]="question.optionSelected" > 
            <mat-radio-button *ngFor="let option of  question.options; let j=index;" [value]="option.id"
                
                [checked]="option.id===question.optionSelected"
            >{{option.answer}}  </mat-radio-button>
           
        </mat-radio-group>

    

</div>
